/* ======================font link start=================== */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* --------------------font link end---------------------- */
/* =======================common css start===================== */
*{
    padding: 0%;
    margin: 0%;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    padding: 0%;
    margin: 0%;
    outline: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
/* ----------------------common css end----------------------- */
/* ======================css veriable part start==================== */
:root{
    --IBM_Plex-serif:'IBM Plex Serif', serif;
    --Croissant_one:'Croissant One', serif;
    --poopins:'Poppins', sans-serif;
    --Background_color:#212428;
    --Brand_color:#FFB400;
    --paragraph:#C4CFDE;
}
/* ----------------------css veriable part end-------------------- */
/* ========================menu part start==================== */
.menu_bar{
    height: 100px;
    background: linear-gradient(95deg, #1E2024 0%, #23272B 100%) !important;
    box-shadow: 10px 10px 19px #1C1E22;
    padding: 0% !important;
}
.menu_logo{
    width: 120px !important;
    height: 80px !important;
}
.menu_bar .menu_list{
    gap: 35px;
}
.menu_list .nav-item .nav-link {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff !important;
    position: relative;
    padding: 0% !important;
    z-index: 999;
    transition: all linear .3s;
}
.menu_list .nav-item .nav-link:hover{
    color: var(--Brand_color) !important;
}
.nav-link span{
    font-size: 16px;
    color: #fff;
}
.menu_list .nav-item .nav-link:hover span{
    color: var(--Brand_color);
}
.menu_bar ul li .after::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0px;
    background: var(--Brand_color);
    border-radius: 5px;
    top: -100%;
    left: 0%;
    padding: 0%;
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
} 
.menu_bar ul li .after:hover::before{
    height: 2px;
    visibility: visible;
    opacity: 1;
}
.menu_bar ul li .after::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0px;
    background: linear-gradient(rgb(255 255 255 / 17%), rgb(255 255 255 / 0%));
    top: -97%;
    left: 0%;
    padding: 0%;
    clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
    opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
    z-index: -1;
}
.menu_bar ul li .after:hover:after{
    height: 45px;
    opacity: 1;
    visibility: visible;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0px;
    vertical-align: none;
    content: "\f107";
    border-top: none;
    border-right: none;
    border-bottom: 0;
    border-left: none;
} 
.dropdown-item {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
}
.dropdown-menu {
    --bs-dropdown-link-active-color: #000000 !important;
    --bs-dropdown-link-active-bg: #ffffff;
    --bs-dropdown-bg: #212428;
    --bs-dropdown-link-hover-color: #ffffff;
    --bs-dropdown-link-hover-bg: #FFB400;
}
.dropdown-menu[data-bs-popper] {
    left: -18px;
}
.menu_button a{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .4s;
    background: linear-gradient(145deg, #1e2024, #23272b);
   box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;;
}
.menu_button a:hover{
    color: var(--Brand_color);
    transform: translateY(-3px);
}
.menu_button a::before {
    content: "";
    position: absolute;
    transition: all linear .4s;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    opacity: 0;
    z-index: -1;
}
.menu_button a:hover:before{
    opacity: 1;
}

/* ------------------------menu part end--------------------- */
/* ========================banner part start==================== */
#banner_part{
    padding-top: 100px;
    padding-bottom: 70px;
    background: var(--Background_color);
}

.banner_heading h2{
    font-size: 18px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
}
.banner_heading h1 {
    width: 630px;
    font-size: 64px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-top: 25px;
    margin-bottom: 20px;
}
.banner_heading h1 span{
    color: var(--Brand_color);
}
.banner_heading{
    position: relative;
}
.word {
    width: 600px;
    position: absolute;
    top: 25%;
    left: 10%;
    margin: auto;
    color: var(--Brand_color);
    font-size: 58px;
    font-weight: 700;
    font-family: var(--Croissant_one);
}
.banner_heading p{
    width: 630px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 25px;
    margin-bottom: 100px;
}
.banner_heading .banner_icon_list h3{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-bottom: 30px;
    text-transform: uppercase;
}
.banner_icon_list ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.banner_icon_list ul li a{
    width: 60px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
    background: linear-gradient(145deg, #1E2024 0%, #23272B 100%);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.banner_icon_list ul li a:hover{
    transform: translateY(-3px);
    background: linear-gradient(to right bottom, #212428, #16181c);
}
.banner_icon_list ul li a i{
    font-size: 22px;
    color: var(--Brand_color);
    transition: all linear .3s;
}
.banner_img{
    display: flex;
    justify-content: end;
}
.banner_img img{
    width: 420px !important;
    height: 510px !important;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 10px solid var(--Brand_color);
}
/* ------------------------banner part end--------------------- */
/* ========================about part start==================== */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--Background_color);
}
.about_heading h2{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
}
.about_heading h2 span{
    color: var(--Brand_color);
}
.about_col h3{
    font-size: 26px;
    font-weight: 700;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    margin-bottom: 30px;
}
.about_list{
    display: flex;
    align-items: center;
    gap: 60px;
}
.about_list ul li{
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
    margin-top: 15px;
}
.about_list .highlight{
    color: var(--Brand_color);
}

.about_list ul li span{
    margin-left: 12px;
    font-weight: 600;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: all linear .3s;
}
.about_list ul li span:hover{
    color: var(--Brand_color);
}
.about_list ul li span::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    background: var(--Brand_color);
    bottom: -10%;
    right: 0%;
    visibility: hidden;
    transition: all linear .3s;
}
.about_list ul li span:hover::after{
    width: 100%;
    visibility: visible;
}

.download_button .btn_slide{
    width: 230px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid var(--Brand_color);
    background: transparent;
    position: relative;
    transition: all linear .3s;
    margin-top: 60px;
}
.download_button .btn_slide:hover{
    background: var(--Brand_color);
}
.btn_slide .circle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 47px !important;
    height: 47px;
    background: var(--Brand_color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    transition: all linear .4s;
}
.download_button .btn_slide:hover .circle{
    left: 174px;
    background: #fff;
    color: var(--Brand_color);
}
.btn_slide .title {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    line-height: 52px;
    margin-left: 90px;
    transition: all linear .3s;
}
.download_button .btn_slide:hover .title{
    margin-left: 80px;
    opacity: 0;
}
.btn_slide .title_hover {
    position: absolute;
    top: 0%;
    left: 43%;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    line-height: 52px;
    opacity: 0;
    transition: all linear .3s;
}
.download_button .btn_slide:hover .title_hover{
    left: 19%;
    opacity: 1;
}
.counter_row{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.counter_col {
    width: 280px;
    padding: 25px 40px 38px 45px;
    border-radius: 10px;
    background: linear-gradient(145deg, #1E2024 0%, #23272B 100%);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    transition: all linear .3s;
}
.counter_col:hover {
    transform: translateY(-3px);
    background: linear-gradient(to right bottom, #212428, #16181c);
}
.counter_col h3{
    font-size: 64px;
    font-weight: 700;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    transition: all linear .3s;
}
.counter_col:hover h3{
    color: var(--Brand_color);
}
.counter_col p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
    margin-top: 10px;
    margin-left: 85px;
    position: relative;
}
.counter_col p::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 1px;
    background: #fff;
    top: 23%;
    left: -70%;
}
/* ------------------------about part end--------------------- */
/* ========================resume part start==================== */
#resume{
    padding-top: 50px;
    padding-bottom: 500px;
    background: var(--Background_color);
    color: #fff;
}
.resume_heading h2{
    font-size: 36px;
    font-weight: 700;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-bottom: 80px;
    text-align: center;
}
.resume_heading h2 span{
    color: var(--Brand_color);
}
.nav-tabs {
    --bs-nav-tabs-border-width: none; 
    border-bottom: none;
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    border-radius: 10px;
    height: 70px;
}
.nav-tabs .nav-link {
    width: 25%;
    border-radius: 10px;
}
.nav-link {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: var(--paragraph);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    color: var(--Brand_color);
}
.nav-link:focus, .nav-link:hover {
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    color: var(--Brand_color);
}
.resume_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.resume_col .resume_heading h3{
    font-size: 26px;
    font-weight: 500;
    font-family: var(--Croissant_one);
    color: #fff;
    margin-top: 80px;
    margin-bottom: 50px;
}
.resume_div{
    width: 5px;
    height: 516px;
    background: #17191C;
}
.resume_box_row{
    display: flex;
    align-items: start;
    gap: 24px;
}
.resume_box_col{
    width: 500px;
    padding: 40px 25px 30px 30px;
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 19px #262A2E;
    margin-bottom: 40px;
    transition: all linear 4s;
    position: relative;

}
.resume_box_col:hover{
    background: linear-gradient(to right bottom, #212428, #16181c);
}
.resume_box_col::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 5px;
    top: 22%;
    left: -18px;
    background: #17191C;
}
.resume_box_col::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 44px;
    left: -36.5px;
    background: var(--Background_color);
    border: 5px solid #17191C;
    transition: all linear .3s;
}
.resume_box_col:hover::before{
    background: var(--Brand_color);
}
.reasume_box_heading_row{
    display: flex;
    align-items: center;
    gap: 50px;
}
.reasume_box_heading_row .box_heading_col h4{
    font-size: 20px;
    font-weight: 500;
    font-family: var(--IBM_Plex-serif);
    color: #fff;
}
.reasume_box_heading_row .box_heading_col h5{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--paragraph);
    margin-top: 15px;
}
.box_heading_col .gpa{
    width: 60px;
    height: 35px;
    border-radius: 3px;
    background: linear-gradient(#1E2024 , #23272B);
    box-shadow: 10px 10px 19px #1C1E22, -10px -10px 10px #262A2E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--IBM_Plex-serif);
    color: var(--Brand_color);
}
.resume_box_heading p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poopins);
    color: var(--paragraph);
    margin-top: 40px;
    width: 445px;
}













/* ------------------------resume part end--------------------- */
/* ========================menu part start==================== */

/* ------------------------menu part end--------------------- */
/* ========================menu part start==================== */

/* ------------------------menu part end--------------------- */
/* ========================menu part start==================== */

/* ------------------------menu part end--------------------- */
/* ========================menu part start==================== */

/* ------------------------menu part end--------------------- */
/* ========================menu part start==================== */

/* ------------------------menu part end--------------------- */